# Virtual environment
tripvenv/

# IDE files
.idea/
.vscode/
.gitignore/
.docker-compose_dev.yml
.Dockerfile_dev
.Dockerfile-nginx_dev
.nginx_dev.conf
.db.sqlite3
# docker-compose -f docker-compose_dev.yml build
# docker-compose -f docker-compose_dev.yml up -d

# # Byte-compiled / optimized / DLL files
# __pycache__/
# *.py[cod]
# *$py.class

# # Log files
# *.log

# # Cache files
# .cache/
# *.pyc
# *.pyo
# *.egg-info/
# dist/
# build/

