{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О проекте</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
    <h1>О проекте "Карта визовых ограничений для граждан России"</h1>
    
    <p>Привет, дорогой посетитель!</p>
    <p>Рады приветствовать вас на странице, посвященной нашему уникальному проекту – интерактивной карте визовых ограничений для граждан России.</p>
    
    <p>Мы знаем, как иногда бывает сложно разобраться в многообразии визовых правил разных стран. Именно поэтому мы решили создать этот проект. Наша карта – это простой и наглядный инструмент, который поможет вам быстро узнать, какие визовые требования установлены для граждан России в той или иной стране.</p>

    <p>В создании этой карты мы использовали актуальные данные из различных источников, чтобы предоставить вам максимально точную и своевременную информацию. Мы надеемся, что благодаря нашему проекту планирование ваших путешествий станет еще проще и приятнее!</p>

    <p>Если у вас есть какие-либо вопросы или пожелания, связанные с нашим проектом, не стесняйтесь обращаться. Мы всегда открыты для обратной связи и рады улучшать наш сервис для вас.</p>
    
    <p>Приятного путешествия!</p>

    <!-- Возможно, добавить еще некоторую информацию или другие элементы, если это необходимо -->
</body>
</html>
