/* Стили для html и body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Общие стили для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для логотипа */
#logo {
    position: absolute;
    top: -10px;
    left: 15px;
    width: 95px;
    z-index: 1000;
}

/* Стили для меток стран */
.country-label {
    background-color: transparent;
    color: #ffffff;  /* Белый цвет текста */
    font-weight: bold;
    font-size: 11px;
}


/* Стили для верхней панели */
#top-panel {
    height: 65px;
    background-color: #003366;
    color: #e5e5e5;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
}

/* Стили для h1 в верхней панели */
#top-panel h1 {
    margin: 0;
    padding: 0;
}

/* Стили для карты */
#map, map {
    background-color: #B0E0E6;
    height: calc(100% - 50px);
    width: 100%;
}

/* Стили для легенды */
.legend {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
}

/* Стили для иконок в легенде */
.legend i, .legend-marker {
    border: 1px solid grey;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
}

.legend-marker {
    border-radius: 50%;
}

/* Стили для позиционирования элементов управления Leaflet */
.leaflet-bottom.leaflet-right {
    bottom: 60px !important;
}
